@import url(./variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**************** main ******************/
main {
    background: var(--color-12);
}

/**************** header ******************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 20px; /* Márgenes laterales */
    background: antiquewhite;
}

header img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 42px;
    border: 2px solid var(--color-4); /* Borde estilizado */
}

header h2 {
    font-family: "Encode_Sans-Bold";
    font-size: 16px;
    color: var(--color-2);
    margin: 0;
    text-align: center; /* Centrar el texto */
    flex-grow: 1; /* Permitir que el texto crezca para centrar mejor */
}

header img:first-child {
    margin-right: auto; /* Empujar el primer ícono hacia la izquierda */
}

header img:last-child {
    margin-left: auto; /* Empujar el último ícono hacia la derecha */
}

@media (min-width: 768px) {
    header {
        padding: 0 50px; /* Aumentar márgenes laterales en pantallas más grandes */
    }

    header img {
        width: 50px; /* Aumentar tamaño del icono en pantallas más grandes */
        height: 50px;
    }

    header h2 {
        font-size: 24px; /* Aumentar tamaño de la fuente en pantallas más grandes */
    }
}
