@import url(./variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* style.css */
body {
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin: 24px;
    height: 46px;
    background-color: #00bcd4;
}

.header-information {
    display: flex;
    flex-direction: column;
    width: 115px;
    height: 46px;
    background: bisque;
}
.header-information p {
    font-family: "Encode_Sans-Bold";
    font-size: 16px;
    color: var(--color-2);
    width: 115px;
    height: 24px;
    margin-top: 5px;
}
.text {
    display: flex;
    flex-direction: row;
    width: 97px;
    height: 18px;
    background: chartreuse;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    gap: 5px;
    text-align: center;
}
.text p {
    font-family: "Encode_Sans-Regular";
    font-size: 10px;
    color: var(--color-1);
    width: 97px;
    height: 18px;
    margin-bottom: 5px;

}
.text img {
    width: 18px;
    height: 18px;
    position: relative;
    margin-bottom: 5px;
}
.header-image {
    width: 32px;
    height: 32px;
    background-image: url(../storage/img/ProfilePageHome.png);
    margin-top: 7px;
    margin-bottom: 7px;
}

main {
    background: aqua;
}
/**************** nav ******************/
.nav__busqueda {
    background: red; 
}

.form__busqueda {
    /* background: blue; */
    margin: 0px, 0px;
    padding: 0px 24px 32px 24px;
    display: flex;
    gap: 17px;
    justify-content: row;
    position: relative;

}

.input__logo {
    flex: 1;
    /* background: orange; */
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input__logo::before {
    /* background: orange; */
    content: url(../storage/icons/icon1PageHome.svg);
    position: absolute;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px;
    width: 30px;
    height: 30px;
}

.form__busqueda input[type="text"] {
    box-sizing: content-box;
    flex: 1;
    width: 263px;
    height: 48px;
    font-family: "Encode_Sans-Regular";
    font-size: 18px;
    gap: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-10);
    border-radius: 8px;
    padding: 0 0 0 40px;
    box-shadow: 0px 4px 19px var(--color-shadow-1);
}

.form__busqueda input[type="text"]::placeholder {
    color: var(--color-3);
    font-size: 14px;
}

.input__filtro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.input__filtro::after {
    content: url(../storage/icons/icon2PageHome.svg);
    width: 24px;
    height: 24px;
    object-fit: cover;
    position: absolute;
}

.form__busqueda input[type="submit"] {
    flex: 1;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background: var(--color-5);
}

.nav__categoria {
    /* background: green; */
    margin: 0px 19px 0;
    display: flex;
    overflow-x: scroll;
    gap: 14px;
}

.nav__categoria li {
    background: var(--color-8);
    flex: 1;
    list-style: none;
    border-radius: 20px;
    min-width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;   
}

.nav__categoria li a {
    /* background: yellow; */
    text-decoration: none;
    color: var(--color-6);
    font-family: "Inter_18pt-Medium";
    font-size: 16px;
}

li.select {
    background: var(--color-3);
}

li.select a {
    color: var(--color-9);
}

li:active {
    background: var(--color-3);
}

li:active a {
    color: var(--color-9);
}

/******************************************/