<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="../storage/icons/backIcon.svg" alt="Icon1">
            <h2>Checkout</h2>
            <img src="../storage/icons/menuIcon.svg" alt="Icon1">
        </header>
        <main>
            <section class="card-container">
                <div class="card1">
                    <img src="../storage/img/Product1PageCheckout.png" alt="Image1" class="card-image">
                    <div class="cardRight">
                        <h2 class="card-title">Modern light clothes</h2>
                        <p class="card-text">Dress modern</p>
                        <p class="price">$212.99</p>
                    </div>
                    <div class="cardLeft">
                        <img src="../storage/icons/pointsIcon.svg" alt="Icon1">
                        <div class="summary">
                            <img src="../storage/icons/minorIcon.svg" alt="Icon2">
                            <p>4</p>
                            <img src="../storage/icons/maxIcon.svg" alt="Icon3">
                        </div>
                    </div>
                </div>
                <div class="slider"></div>
                <div class="card2">
                    <img src="../storage/img/Product2PageCheckout.png" alt="Image2" class="card-image">
                    <div class="cardRight">
                        <h2 class="card-title">Modern light clothes</h2>
                        <p class="card-text">Dress modern</p>
                        <p class="price">$162.99</p>
                    </div>
                    <div class="cardLeft">
                        <img src="../storage/icons/pointsIcon.svg" alt="Icon1">
                        <div class="summary">
                            <img src="../storage/icons/minorIcon.svg" alt="Icon2">
                            <p>4</p>
                            <img src="../storage/icons/maxIcon.svg" alt="Icon3">
                        </div>
                    </div>
                </div>
                <div class="slider"></div>
            </section>
            <section class="payment"></section>
            <section class="subtotal"></section>
        </main>
        <footer></footer>
    </body>
</html>