<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="../storage/icons/backIcon.svg" alt="Icon1">
            <h2>Checkout</h2>
            <img src="../storage/icons/menuIcon.svg" alt="Icon1">
        </header>
        <main></main>
        <footer></footer>
    </body>
</html>