<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <section class="card-container">
                <div class="cards1">
                    <div class="card1">
                        <div class="card-image1">
                            <img src="../storage/img/Product1PageHome.png" alt="Product Image">
                            <div class="iconimage1">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        
                        <div class="card-content">
                            <h3 class="card-title">Modern Light Clothes</h3>
                            <p class="card-text">T-Shirt</p>
                            <div class="card-button">
                                <p>$212.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>5.0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="card-image2">
                            <img src="../storage/img/Product2PageHome.png" alt="Product Image">
                            <div class="iconimage2">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">Light Dress Bless</h3>
                            <p class="card-text">Dress modern</p>
                            <div class="card-button">
                                <p>$162.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>5.0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards2">
                    <div class="card3">
                        <div class="card-image3">
                            <img src="../storage/img/Product3PageHome.png" alt="Product Image">
                            <div class="iconimage3">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">Maroon Dark Top</h3>
                            <p class="card-text">Dress</p>
                            <div class="card-button">
                                <p>$194.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>5.0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card4">
                        <div class="card-image4">
                            <img src="../storage/img/Product4PageHome.png" alt="Product Image">
                            <div class="iconimage4">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">Light Dress Yellow</h3>
                            <p class="card-text">Dress Modern</p>
                            <div class="card-button">
                                <p>$122.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>5.0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>