<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/output.css" rel="stylesheet">
        <link href="../css/homePageUser2.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100">
        <header>
            <div class="header-information">
                <div class="text">
                    <p>Hello, Welcome</p>
                    <img src="../storage/icons/handIconPageHome.svg" alt="Hand Icon">
                </div>
                <p>Kenpachi Zaraki</p>
            </div>
            <div class="header-image"></div>
        </header>
        <main>
            <section>
                <nav class="nav__busqueda">
                    <form class="form__busqueda relative" action="?" method="get">
                        <div class="input__logo">
                            <input type="text" class="search-bar" name="search" placeholder="Search clothes. . ." autocomplete="off">
                        </div>
                        <div class="input__filtro">
                            <input type="submit" value="">
                        </div>
                        <div class="results mt-2"></div> <!-- Resultados se mostrarán debajo del input -->
                    </form>
                    <ul class="nav__categoria">
                        <li class="select"><img src="../storage/icons/icon3PageHome.svg" alt="Icon1"><a href="#">All Items</a></li>
                        <li><img src="../storage/icons/icon4PageHome.svg" alt="Icon2"><a href="#">Dress</a></li>
                        <li><img src="../storage/icons/icon5PageHome.svg" alt="Icon3"><a href="#">T-Shirt</a></li>
                        <li><img src="../storage/icons/icon6PageHome.svg" alt="Icon4"><a href="#">Jeans</a></li>
                    </ul>
                </nav>
            </section>
            <section class="card-container mt-8">
                <div class="cards1">
                    <div class="card1" id="card1">
                        <div class="card-image1">
                            <img src="../storage/img/model1User2.jpeg" alt="Product Image">
                            <div class="iconimage1">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        
                        <div class="card-content">
                            <h3 class="card-title">Biker Leather Jacket</h3>
                            <p class="card-text">Outerwear</p>
                            <div class="card-button">
                                <p>$129.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>4.7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card2" id="card2">
                        <div class="card-image2">
                            <img src="../storage/img/model2User2.jpeg" alt="Product Image">
                            <div class="iconimage2">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">Urban Street Style</h3>
                            <p class="card-text">Streetwear</p>
                            <div class="card-button">
                                <p>$99.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>4.6</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards2">
                    <div class="card3" id="card3">
                        <div class="card-image3">
                            <img src="../storage/img/model3User2.jpeg" alt="Product Image">
                            <div class="iconimage3">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">Elegant Black Gown</h3>
                            <p class="card-text">Evening Wear</p>
                            <div class="card-button">
                                <p>$249.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>5.0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card4" id="card4">
                        <div class="card-image4">
                            <img src="../storage/img/model4User2.jpeg" alt="Product Image">
                            <div class="iconimage4">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">Floral Summer Dress</h3>
                            <p class="card-text">Casual Wear</p>
                            <div class="card-button">
                                <p>$139.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>4.8</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card4" id="card5">
                        <div class="card-image4">
                            <img src="../storage/img/model5User2.jpeg" alt="Product Image">
                            <div class="iconimage4">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">Elegant Black Jumpsuit</h3>
                            <p class="card-text">Evening Wear</p>
                            <div class="card-button">
                                <p>$159.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>4.8</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card4" id="card6">
                        <div class="card-image1">
                            <img src="../storage/img/model6User2.jpeg" alt="Product Image">
                            <div class="iconimage4">
                                <img src="../storage/icons/heartIcon.svg" alt="Hand Icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">Trendy Nightwear Set</h3>
                            <p class="card-text">Fashion Wear</p>
                            <div class="card-button">
                                <p>$149.99</p>
                                <div class="valoration">
                                    <img src="../storage/icons/starIcon.svg" alt="Star Icon" class="star-icon">
                                    <p>4.7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="div__izquierdo">
                <a href="#" id="home-icon"><img src="../storage/icons/icon7PageHome.svg" alt="Home Icon"></a>
                <a href="#" id="bag-icon"><img src="../storage/icons/icon8PageHome.svg" alt="Bag Icon"></a>
            </div>
            <div class="div__derecho">
                <a href="#" id="heart-icon">
                    <img src="../storage/icons/icon9PageHome.svg" alt="Heart Icon">
                </a>
                <a href="#" id="profile-icon"><img src="../storage/icons/icon10PageHome.svg" alt="Profile Icon"></a>
            </div>
            <div id="moving-bar" class="moving-bar"></div>
        </footer>
        <script src="../js/components/footer.js" type="module"></script>
        <script src="../js/components/favorite.js" type="module"></script>
        <script src="../js/components/searchUser2.js" defer></script>
    </body>
</html>
